<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>To do list app</title>
    <link href="{{ url_for('static', filename='/bootstrap-4.0.0-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
    body {font-family: "Open Sans"}
    </style>
</head>
<body>

    <div class="jumbotron" style="margin-bottom:0">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='/images/logo-bvu.png') }}" alt="logo" style="height:100px">
        </a>
    </div>
    <div class="w3-top">
      <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
          <a href="/" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s3">
          <a href="/signIn" class="w3-button w3-block w3-black">SIGN IN</a>
        </div>
        <div class="w3-col s3">
          <a href="/signUp" class="w3-button w3-block w3-black">SIGN UP</a>
        </div>
        <div class="w3-col s3">
          <a href="https://websiteveloper.com" class="w3-button w3-block w3-black">CONTACT</a>
        </div>
      </div>
    </div>
<!-- End Header -->

<!-- Body -->
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
        <strong>Error:</strong> [{{ message }}]
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

{% block content %}{% endblock %}

<!-- End Body -->

<!--&lt;!&ndash; Footer -&ndash;&gt;-->
<!--<div class="jumbotron text-center" style="margin-bottom:0">-->
<!--    <p>Copyright @2020 by HoangPN</p>-->
<!--</div>-->
<!--&lt;!&ndash; End Body &ndash;&gt;-->
<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>Copyright © 2021 - <a href="#" target="_blank">Bùi Văn Huân - Web Portfolio</a></p>
</footer>
</body>
</html>