<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>To do list app</title>
    <link href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Header & Footer -->
    {% extends "userbase.html" %}
<!-- End Header & Footer -->

<!-- Body -->
{% block content %}
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
        </div>
        {% if user.projects %}
        <div>
                 <p><a class="btn btn-lg btn-success btn-block" href="/newProject">New Project</a></p>
        </div>

        <div class="jumptron">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Desc</th>
                        <th>Deadline</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in user.projects %}
                        <tr class="">
                            <td><a href="{{ url_for('project', project_id=project.project_id) }}">{{ project.name }}</a></td>
                            <td>{{ project.description }}</td>
                            <td>{{ project.deadline }}</td>
                            <td>{{ project.status.description }}</td>
                            <td>
                                <a href="{{ url_for('editProject', project_id=project.project_id) }}" class="btn btn-warning">Edit</a>
                                <a href="{{ url_for('deleteProject', project_id=project.project_id) }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="jumtron text-center">
            <div class="alert alert-waring text-center">
                <h4>You do not have project in list!</h4>
            </div>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/newProject">New Project</a></p>
        </div>
        {% endif %}

    </div>
{% endblock %}
<!-- End Body -->
</body>
</html>